<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.university.gami_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".GamiApplication"
        android:allowBackup="true"
        android:icon="@drawable/puzzle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/puzzle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.signUp.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.events.EventsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/places" />

        <uses-library
            android:required="true"
            android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.forgot_password.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.change_password.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.gami.com"
                    android:pathPrefix="/resetpassword" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.event_details.EventDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.gami.com"
                    android:pathPrefix="/event" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.write_review.WriteReviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.joined_events.JoinedEventsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.joined_users.JoinedUsersActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.bookmarks.BookmarkActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.profile_preview.ProfilePreviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.add_event.AddEventActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>